html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* Maybe keep this if you're specifically handling safe-area insets,
     but be aware it can shift content in iOS: */
  padding-top: env(safe-area-inset-top);
}

* {
  box-sizing: inherit;
}

.firebase-emulator-warning {
  display: none;
}
